_site/
Gemfile.lock
*~

.DS_Store

.idea/
.vscode/

PW45_2026_Boston/projects_list.docx
PW45_2026_Boston/projects_list.pdf
PW45_2026_Boston/projects_table.xlsx
PW41_2024_MIT/Projects/TerminologiesForSulciAndBasalGangliaEpistim3DSlicerExtension/*.png
